/* keyFrames */
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
@keyframes appear-bottom {
	0% {
		opacity: 0;
		top: 200px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}
@keyframes appear-right {
	0% {
		opacity: 0;
		left: 100px;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@keyframes appear-left {
	0% {
		opacity: 0;
		right: 100px;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* html {
	scroll-behavior: smooth;
} */

body {
	margin: 0;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	color: #616161;
	background-color: #f5f5f5;
	overflow-x: hidden;
}

h2 {
	font-size: 2rem;
	text-align: center;
	color: #24479c;
	margin: 0;
}
h3 {
	margin: 0;
}

/* -----------------------
		NavBar 
--------------------------*/

.navbar {
	position: fixed;
	top: 0;
	z-index: 2;
	padding: 0 80px;
	background-color: #fff;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
	transition: height 0.5s;
	box-shadow: 0px 4px 4px #00000040;
}

.navbar--scrolled {
	height: 60px;
}
.navbar__logo img {
	padding: 10px;
	height: 60px;
}
.navbar__links {
	display: flex;
	list-style: none;
	align-items: center;
	padding-right: 20px;
}
.navbar__links-item {
	padding-right: 30px;
	font-weight: 700;
}
.navbar__links-item a {
	font-size: 1.4rem;
	color: #24479c;
	text-decoration: none;
}
.navbar__links-item a:hover {
	border-bottom: 2px solid #24479c;
}

/* Hamburger */

.navbar__hamburger-wraper {
	display: none;
}

.navbar__hamburger {
	position: absolute;
	right: 10px;
	top: 5px;
	padding: 10px;
	background-color: transparent;
	border: none;
	margin: 0;
	display: flex;
	z-index: 1;
}

.navbar__hamburger-box {
	width: 30px;
	height: 30px;
	position: relative;
}
.navbar__hamburger-box-inner,
.navbar__hamburger-box-inner::after,
.navbar__hamburger-box-inner::before {
	width: 100%;
	height: 3px;
	background-color: #24479c;
	position: absolute;
	right: 0;
}

.navbar__hamburger-box-inner {
	top: 50%;
	transform: translateY(-50%);
	transition: 0.3s;
}

.navbar__hamburger-box-inner::before {
	content: '';
	top: -10px;
	transition: 0.6s;
}
.navbar__hamburger-box-inner::after {
	content: '';
	top: 10px;
	transition: 0.6s;
}

.navbar__hamburger--active .navbar__hamburger-box-inner {
	background-color: transparent;
}
.navbar__hamburger--active .navbar__hamburger-box-inner::before {
	transform: translateY(10px) rotate(45deg);
}
.navbar__hamburger--active .navbar__hamburger-box-inner::after {
	transform: translateY(-10px) rotate(-45deg);
}

/* sideNav */

.sideNav--hide {
	display: none;
}

.sideNav {
	position: fixed;
	top: 60px;
	width: 100vw;
	height: calc(100vh - 60px);
	background-color: #f5f5f5;
	z-index: 1;
}
.sideNav__list {
	list-style: none;
	font-size: 50px;
	padding: 0;
	margin: 0;
}
.sideNav__list-items {
	text-align: center;
	padding-top: 20px;
}
.sideNav__list-items:first-child {
	padding-top: 20px;
}
.sideNav__list-items a {
	text-decoration: none;
	color: #24479c;
}

/* -----------------------
		Sections 
--------------------------*/

.section {
	background-color: #f5f5f5;
}
.hero {
	height: calc(100vh - 100px);
	margin-top: 100px;
	background-color: #f5f5f5;
}

/* -----------------------
		Hero 
--------------------------*/

.hero__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: calc(100% - 100px);
}
.hero__text {
	width: 40%;
	opacity: 0;
	position: relative;
	animation: appear-left 2s forwards;
	animation-delay: 1000ms;
}
.hero__text h2:first-child {
	font-size: 5rem;
	text-shadow: 1px 2px 5px #787878;
}
.hero__text p {
	font-size: 2rem;
	text-align: center;
	margin: 10px auto 0 auto;
	color: #24479c;
}
.hero__img {
	width: 40%;
	opacity: 0;
	position: relative;
	animation: appear-right 2s forwards;
	animation-delay: 1500ms;
}

.hero__img img {
	width: 100%;
	border-radius: 5%;
	box-shadow: 7px 6px 20px -7px #000;
}
.hero__arrows {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.hero__arrows img {
	height: 50px;
	cursor: pointer;
	filter: invert(27%) sepia(39%) saturate(2468%) hue-rotate(203deg)
		brightness(84%) contrast(97%);
}
.hero__arrows a {
	font-size: 1.3rem;
	text-decoration: none;
	color: #24479c;
}
/* -----------------------
		Info 
--------------------------*/

.info::before {
	display: block;
	content: ' ';
	margin-top: -40px;
	height: 70px;
	visibility: hidden;
	pointer-events: none;
}
.info__text {
	text-align: center;
	font-size: 1.3rem;
	width: 70%;
	margin: 0 auto;
}
.info__banner {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: #24479c;
}
.info__banner-item {
	width: 28%;
	opacity: 0;
	position: relative;
}
.info__banner-item--animation {
	animation: appear-bottom 2s forwards;
}
.info__banner-item img {
	width: 100%;
	box-shadow: #000 0 0 10px -5px;
	border-radius: 2%;
}
.info__banner-item h3 {
	font-size: 1.5rem;
	color: white;
}
.info__banner-item p {
	font-size: 1.2rem;
	text-align: justify;
	color: white;
}

/* -----------------------
		Offer 
--------------------------*/

.offer {
	padding: 30px 0 30px 0;
}
.offer h2 {
	margin: 20px 0;
}
.offer__p {
	text-align: center;
	margin: 20px;
	font-size: 1.4rem;
}
.offer__text {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	padding: 20px;
}
.offer__text-partOne {
	font-size: 1.5rem;
}
.offer__text-partTwo {
	font-size: 1.1rem;
}
.offer::before {
	display: block;
	content: ' ';
	margin-top: -40px;
	height: 60px;
	visibility: hidden;
	pointer-events: none;
}

/* -----------------------
		Gallery 
--------------------------*/

.gallery::before {
	display: block;
	content: ' ';
	margin-top: 0px;
	height: 60px;
	visibility: hidden;
	pointer-events: none;
}
.gallery h2 {
	margin: 20px 0;
}

.gallery__wrapper {
	display: flex;
	background-color: #24479c;
	width: 100%;
	margin: auto;
	padding: 5px;
}
.gallery__main {
	padding: 0;
	margin: 0;
	width: 59%;
	margin: auto;
	text-align: center;
	opacity: 0;
	position: relative;
}
.gallery__main--animation {
	animation: appear-left 2s forwards;
}
.gallery__main img {
	max-width: 100%;
	box-shadow: 2px 2px 5px #4a4a4a;
	border-radius: 2px;
	max-height: 540px;
}
.gallery__imgs {
	width: 39%;
	height: 650px;
	padding: 5px 15px;
	overflow: scroll;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	grid-gap: 3px;
	cursor: pointer;
	overflow-x: hidden;
	opacity: 0;
	position: relative;
}
.gallery__imgs--animation {
	animation: appear-right 2s forwards;
}
.gallery__imgs img {
	width: 100%;
	height: 150px;
	transition: opacity 0.4s;
	border-radius: 3px;
	border: 1px solid #717171;
}
.fade-in {
	opacity: 0;
	animation: fadeIn 0.5s ease-in 1 forwards;
}

/* -----------------------
		Contact 
--------------------------*/

.contact {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 0 50px 0;
}
.contact__header {
	padding: 20px 0 0 0;
	width: 100%;
}
#contact::before {
	display: block;
	content: ' ';
	margin-top: -40px;
	height: 40px;
	visibility: hidden;
	pointer-events: none;
}
.contact__map {
	width: 100%;
}

.contact__map h2 {
	margin: 20px;
}

.contact__map iframe {
	border: none;
	width: 100%;
	height: 500px;
}

.contact__addres {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 500px;
	width: 50%;
	font-size: 1.3rem;
	text-align: center;
	opacity: 0;
	position: relative;
}
.contact__addres--animation {
	animation: appear-left 2s forwards;
}

.contact__addres a {
	text-decoration: none;
	color: #616161;
	font-size: 1.1em;
}

.contact img {
	width: 100px;
	height: 100px;
}

/* FORM */

.contact__form {
	width: 50%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	position: relative;
}

.contact__form--animation {
	animation: appear-right 2s forwards;
}

.errorMsg {
	width: 400px;
	color: #2d2d2d;
	background-color: tomato;
	border-radius: 5px;
	padding: 8px;
	display: none;
	border: 1px solid #2d2d2d;
}

.successMsg {
	width: 400px;
	color: #2d2d2d;
	background-color: #37bb67;
	border-radius: 5px;
	padding: 8px;
	display: none;
	border: 1px solid #2d2d2d;
}

.contact__form-form {
	display: flex;
	flex-direction: column;
}
.contact__form-item {
	display: flex;
	flex-direction: column;
}
.contact__form-item label {
	padding: 10px 0 1px 5px;
	font-size: 0.9em;
}
.contact__form-item input {
	height: 40px;
	width: 400px;
	padding-left: 8px;
	font-size: 1rem;
	border: solid 1px gray;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
}

.contact__form-item ::placeholder {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}
.contact__form-item textarea {
	height: 100px;
	width: 400px;
	font-size: 1rem;
	padding: 8px;
	resize: none;
	border: solid 1px gray;
	min-height: 100px;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
}

.contact__form-button {
	width: 100%;
	height: 40px;
	font-size: 1.1rem;
	background-color: #24479c;
	color: white;
	border: none;
	border-radius: 3px;
	margin-top: 10px;
	cursor: pointer;

	transition: background-color 500ms;
}

.contact__form-button:hover {
	background-color: #007df2;
	cursor: pointer;
}
/* -----------------------
		Footer 
--------------------------*/

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 15px;
	height: 80px;
	background-color: #24479c;
	color: white;
	font-size: 15px;
}
.footer a {
	text-decoration: none;
	font-size: 1em;
	color: white;
}
.footer p {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
.footer span {
	font-size: 1em;
}

/* -----------------------
		privacy politycy
--------------------------*/

.privacyPolitycy__wrapper {
	width: 80%;
	margin: 150px auto;
}
.privacyPolitycy__paragraph {
	line-height: 1.7;
	font-size: 1.5rem;
}
