@media (max-width: 1500px) {
	.hero__text h2:first-child {
		font-size: 3em;
	}
}
@media (max-width: 1199.98px) {
	.info__text {
		width: 80%;
	}
	.gallery__imgs {
		grid-template-columns: repeat(2, 1fr);
		height: 550px;
	}
}
@media (max-width: 991.98px) {
	.navbar {
		padding: 0;
	}
	.hero__wrapper {
		flex-direction: column;
	}
	.hero__text h2:first-of-type {
		text-shadow: 1px 1px 1px #787878;
	}
	.hero__text,
	.hero__text p {
		width: 80%;
	}
	.hero__img {
		width: 70%;
	}
	.hero__arrows a {
		font-size: 1rem;
	}

	.offer__text {
		flex-direction: column;
	}
	.gallery__imgs img {
		height: 100px;
	}
	.contact__form-item input {
		width: 350px;
	}
	.contact__form-item textarea {
		width: 350px;
	}
}
@media (max-width: 767.98px) {
	.navbar {
		padding: 0;
	}

	.contact__form-item input {
		width: 250px;
	}
	.contact__form-item textarea {
		width: 250px;
	}
}
@media (max-width: 575.98px) {
	h2 {
		font-size: 1.5rem;
	}
	.navbar {
		height: 60px !important;
	}
	.navbar__links {
		display: none;
	}
	.navbar__logo {
		margin: auto;
		display: block;
	}
	.navbar__logo img {
		padding: 0;
		margin: auto;
	}
	.navbar__hamburger-wraper {
		display: flex;
	}
	.hero {
		height: calc(100vh - 60px);
		margin-top: 60px;
	}
	.hero__img {
		width: 80%;
	}
	.info {
		width: 100%;
	}
	.info p {
		font-size: 1rem;
		line-height: 21px;
	}
	.info__banner {
		flex-direction: column;
	}
	.info__banner-item {
		width: 100%;
		padding: 10px 0;
	}
	.info__banner h3 {
		text-align: center;
	}
	.info__banner-item p {
		font-size: 1rem;
	}
	.offer {
		padding-bottom: 30px;
	}
	.gallery__wrapper {
		flex-direction: column;
	}
	.gallery__main {
		width: 100%;
	}
	.gallery__imgs {
		width: 100%;
		height: 300px;
		grid-template-columns: repeat(3, 1fr);
	}
	.contact {
		flex-direction: column;
		padding: 10px 0 50px 0;
		height: unset;
	}
	.contact__map iframe {
		height: 300px;
	}
	.contact__addres {
		width: 100%;
		text-align: center;
	}
	.contact__form {
		width: 100%;
		padding: 0 5px;
	}
	.contact__form-form {
		width: 100%;
	}
	.contact__form-item input {
		height: 35px;
		width: 100%;
	}
	.contact__form-item ::placeholder {
		font-size: 0.8em;
	}
	.contact__form-item textarea {
		width: 100%;
	}
	.contact__addres,
	.contact__form {
		height: auto;
	}
	.footer {
		height: auto;
	}
	.footer p {
		padding-top: 5px;
	}
	.hero__text {
		width: 100%;
	}
	.hero__text h2 {
		font-size: 1em;
	}
	.hero__text h2:first-child {
		font-size: 2em;
	}
	.hero__text p {
		font-size: 1em;
	}
	.privacyPolitycy__wrapper {
		margin: 90px auto;
	}
	.privacyPolitycy__paragraph {
		font-size: 1rem;
	}
}
@media (max-width: 350px) {
	.gallery__imgs {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1000px) and (max-height: 800px) {
	.contact__map iframe {
		height: 400px;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	.navbar {
		height: 60px !important;
	}
	.sideNav__list {
		font-size: 30px;
	}
	.sideNav__list-items {
		padding-top: 10px;
	}
	.sideNav__list-items:first-child {
		padding-top: 10px;
	}
	.hero {
		height: auto;
		margin-top: 70px;
	}
	.hero__wrapper {
		flex-direction: row;
		height: auto;
		padding-top: 5px;
	}
	.hero__text h2:first-child {
		font-size: 2rem;
	}
	.hero__text p {
		font-size: 1rem;
	}
	.hero__arrows {
		padding-top: 5px;
	}
	.hero__arrows img {
		height: 30px;
	}
}
